<html lang="en"></html>
    <%- include ('partials/head.ejs', {title: "Login"}); %>
    <body>
        <main class="main-content">
            <div class="title-container">
                404 - Error Page not found
            </div>
        </main>
    </body>
</html>